@media (max-width: 768px){
    .app{
        width: 30em;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 490px){
    .app{
        width: 21em;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .inTop{
        font-size: 0.8rem;
    }
    .topTitle{
        font-size: 1.5rem;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }
    .topInput{
        font-size: 1rem;
    }
    .button{
        font-size: 1.1rem;
    }
    .timeZone{
        font-size: 1.2rem;
    }
    .details{
        font-size: 0.7rem;
    }
    .inDetail{
        font-size: 0.6rem;
    }
}